h3{
    color: tomato;

}
p{
    background-color: tomato;
    border-radius: 10px;
    padding: 10px;
}
div{
    color: aqua;
    background-color: tomato;
    border-radius: 10px;
    padding: 10px;
}
img{
border: 50px;
border-radius: 20px;
size: 100px;
width: 100px;
}